$body-bg: #000;
$body-color: #fff;
@import url("https://fonts.googleapis.com/css2?family=Chonburi&family=Inter:wght@500&family=Sarabun:wght@500&display=swap");
.title {
  font-family: "Chonburi", cursive;
}
.f-m {
  width: 50%;
  position: absolute !important;
}
.xh {
  position: relative !important;
}
.c {
  margin-left: -8rem;
}
@media (max-width: 1200px) {
  .f-m {
    width: 100%;
    position: static !important;
  }
  .xh {
    position: static !important;
  }
  .c {
    margin-left: -3rem;
  }
}
$font-family-sans-serif: "Inter", "Sarabun", sans-serif;
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/root";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/utilities/api";

.btn {
  font-size: clamp(13px, 4vw, 1rem) !important;
}
